@using Microsoft.AspNetCore.Identity
@using App.Web.Areas.Identity.Data

@model IEnumerable<App.Models.Comment>

@inject UserManager<AppUser> UserManager

<div class="container">
    <div class="row">
        @foreach (var comment in Model)
        {
            <div class="col-sm-8">
                <div class="panel panel-white post panel-shadow">
                    <div class="post-heading">
                        <div class="pull-left meta">
                            <div class="title h5">@UserManager.GetUserName(User)</div>
                            <h6 class="text-muted time">Date</h6>
                        </div>
                    </div>
                    <div class="post-description">
                        @comment.Content
                    </div>
                </div>
            </div>
        }
    </div>
</div>