@model App.Services.Models.Home.IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="card-columns">
    @foreach (var recipe in Model.Recipes)
    {
        <div class="card shadow p-3 mb-5 bg-white rounded">
            <img class="card-img-top" src=@recipe.Url alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@recipe.Name</h5>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    }
</div>
