@model App.Services.Models.Home.IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="card-columns">
    @foreach (var recipe in Model.Recipes)
    {
        <a asp-controller="Recipe" asp-action="Details" asp-route-id="@recipe.Id">
            <div class="card shadow p-3 mb-5 bg-white rounded">
                <img class="card-img-top" src=@recipe.Url alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@recipe.Name</h5>
                </div>
            </div>
        </a>
    }
</div>
